body {
  background-color: #244975;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 100%;
}

#banner-img {
  height: 150px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  height: 20%;
}

.signup {
  background-color: #ED7D31;
  float: right;
}

#loginButton:link {
  color: white;
  text-decoration: none;
}

h1 {
  color: #ED7D31;
  font-size: 40px;  
}

p {
  color: white;
  font-size: 20px;
}

h2 {
  color: #ED7D31;
  font-size: 30px;  
}

h3 {
  color: #ED7D31;
  font-size: 30px;
}


.sidenav {
  height: 100%;
  width: 15%;
  background-color: #ED7D31;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
  position: fixed;
}

  .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      padding-top: 5%;
  }

      .sidenav a:hover {
          color: #f1f1f1;
      }

      .ad {

        float: right;
      
        width: 30.33%;

        height: 100%;
      
        padding-left: 1725px; 

        padding-top: 1px;

        position: absolute;
      
      }

      .tattoo {

        float: left;
      
        width: 15.33%;

        height: 25%;
      
        padding-right: 1725px; 

        padding-top: 1px;

        position: absolute;
      
      }

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }

      .sidenav a {
          font-size: 18px;
      }
}

@media only screen and (max-width: 600px) {
  .topnav{
      flex-direction: column;
  }

  .main-links{
      flex-direction: column;
  }

  .helplinks{
      width: 100%;
  }

  .container{
      flex-direction: column;
  }

  .leftbar{
      width: 100%!important;
  }

  .tattoo{
      padding: 0;
  }

  .sideimgs{
    width: 100%!important;
  }
}

body {
  margin: 0;
}

.topnav {
  background-color: #ED7D31;
  margin-bottom: 20px;
}

.topnav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.flex{
  display: flex;
}

.flex-between{
  justify-content: space-between;
}

.container{
  width: 100%;
}

.active-page{
  color: black!important;
}

.helpimg{
  width: 100%; 
  padding: 5%;
}

.sideimgs{
  width: 15%;
}
